@model Bai3.Models.tbl_Employee

@{
    ViewBag.Title = "CHI TIẾT NHÂN VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr />
<dl class="dl-horizontal">

    <dt>Mã Nhân Viên</dt>
    <dd>@Html.DisplayFor(model => model.Id)</dd>

    <dt>Tên Nhân Viên</dt>
    <dd>@Html.DisplayFor(model => model.EmployName)</dd>

    <dt>Giới Tính</dt>
    <dd>@Html.DisplayFor(model => model.Gender)</dd>

    <dt>Thành Phố</dt>
    <dd>@Html.DisplayFor(model => model.City)</dd>

    <dt>Mã Phòng Ban</dt>
    <dd>@Html.DisplayFor(model => model.DepId)</dd>

    <dt>Tên Phòng Ban</dt>
    <dd>@Html.DisplayFor(model => model.tbl_Deparment.DepName)</dd>
</dl>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Trở lại danh sách", "Index", "Home", null, new { @class = "btn btn-secondary" })
</p>