@model List<Bai3.Models.tbl_Employee>

@{
    ViewBag.Title = "DANH SÁCH NHÂN VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Đặt tiêu đề dựa trên ViewBag, mặc định là "DANH SÁCH NHÂN VIÊN"
    string currentTitle = ViewBag.CurrentDepName ?? "DANH SÁCH TẤT CẢ NHÂN VIÊN";
}

<h2>@currentTitle</h2>

<p>
    @Html.ActionLink("Thêm nhân viên mới", "ThemMoi", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().EmployName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Gender)</th>
            <th>@Html.DisplayNameFor(model => model.First().City)</th>
            <th>Mã Phòng Ban</th>
            <th>Tên Phòng Ban</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployName)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.DepId)</td>
                <td>@Html.DisplayFor(modelItem => item.tbl_Deparment.DepName)</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>