<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content mt-3">
        <div class="row">
            <div class="col-md-3">
                @if (ViewBag.Departments != null)
                {
                    <div class="list-group">
                        <h4 class="list-group-item active">Lọc theo Phòng Ban</h4>
                        @Html.ActionLink("Tất Cả Nhân Viên", "FilterByDepartment", "Home", new { DepId = 0 }, new { @class = "list-group-item list-group-item-action" })
                        @foreach (var dep in (List<Bai3.Models.tbl_Deparment>)ViewBag.Departments)
                        {
                            @Html.ActionLink(dep.DepName, "FilterByDepartment", "Home", new { DepId = dep.DepId }, new { @class = "list-group-item list-group-item-action" })
                        }
                    </div>
                }
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>

        </div> 

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>